body {
  background-color: #333;
  color: #fff;
}

.form-group label {
  color: #fff;
}

.form-control {
  background-color: #444;
  color: #fff;
  border-color: #fff;
}

.btn {
  background-color: #fff;
  color: #333;
  border-color: #fff;
}

.btn:hover {
  background-color: #333;
  color: #fff;
  border-color: #fff;
}
